/*@import "bootstrap-for-sass/stylesheets/bootstrap-responsive";
@import "bootstrap-for-sass/stylesheets/bootstrap-compass";  */
/*rgba(0, 0, 0, 0.15)*/
.select_first_div {
  position: relative;
  display: block;
  max-height: 100%;
  box-sizing: border-box;
  /*	@media only screen and (max-width: 767px){		
		margin-top:59.4px;
	}	
	@media only screen and (min-width: 768px) and (max-width: 991px){
		margin-top:67.2px;
	}	
	@media only screen and (min-width: 992px){
		margin-top:58.4px;
	}*/ }
  .select_first_div img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    /*@extend .img-responsive;*/ }
  .select_first_div .container.first_div_title {
    position: absolute;
    top: 30px;
    left: 200px;
    max-width: 50%; }
    .select_first_div .container.first_div_title h1 {
      font-weight: 500;
      color: #FFFFFF; }
    .select_first_div .container.first_div_title small {
      color: #FFFFFF; }
    .select_first_div .container.first_div_title .custom {
      background-color: rgba(0, 0, 0, 0.05);
      color: #FFFFFF;
      border: 1px solid #FFFFFF; }
  .select_first_div .first_div_sub_title {
    position: relative;
    display: block;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px; }

.select_middle_div {
  text-align: center;
  box-sizing: border-box;
  height: 100%; }
  @media only screen and (max-width: 767px) {
    .select_middle_div .container_1 {
      box-sizing: border-box;
      max-width: 100%;
      margin: 0 auto;
      position: relative;
      padding-left: 20px;
      padding-right: 20px;
      width: default;
      background-color: #f9f9f9;
      padding-top: 20px; }
      .select_middle_div .container_1 .middle_subject {
        width: 100%;
        margin: 10px;
        margin-bottom: 10px; }
        .select_middle_div .container_1 .middle_subject .subject_title {
          margin: 0 auto; }
        .select_middle_div .container_1 .middle_subject P {
          font-size: default; }
        .select_middle_div .container_1 .middle_subject h1 {
          font-size: 30px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .select_middle_div .container_1 {
      box-sizing: border-box;
      max-width: 100%;
      margin: 0 auto;
      position: relative;
      padding-left: 20px;
      padding-right: 20px;
      width: 980px;
      background-color: #f9f9f9;
      padding-top: 20px; }
      .select_middle_div .container_1 .middle_subject {
        width: 100%;
        margin: 10px;
        margin-bottom: 10px; }
        .select_middle_div .container_1 .middle_subject .subject_title {
          margin: 0 auto; }
        .select_middle_div .container_1 .middle_subject P {
          font-size: 13px; }
        .select_middle_div .container_1 .middle_subject h1 {
          font-size: 30px; } }
  @media only screen and (min-width: 992px) {
    .select_middle_div .container_1 {
      @inculde container-setting(1050px);
      padding-top: 50px; } }
  .select_middle_div .card.first .card-title {
    height: 160px; }
    .select_middle_div .card.first .card-title img {
      display: inline;
      max-height: 100%;
      max-width: 100%;
      -webkit-border-top-left-radius: 5px;
      -moz-border-radius-topleft: 5px;
      border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -webkit-background-clip: padding-box;
      -moz-border-radius-topright: 5px;
      -moz-background-clip: padding;
      padding: 2px; }
  .select_middle_div .card.second .card-title {
    height: 160px; }
    .select_middle_div .card.second .card-title img {
      display: inline;
      max-height: 100%;
      max-width: 100%;
      -webkit-border-top-left-radius: 5px;
      -moz-border-radius-topleft: 5px;
      border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -webkit-background-clip: padding-box;
      -moz-border-radius-topright: 5px;
      -moz-background-clip: padding;
      padding: 2px; }
  .select_middle_div .card.third .card-title {
    height: 160px; }
    .select_middle_div .card.third .card-title img {
      display: inline;
      max-height: 100%;
      max-width: 100%;
      -webkit-border-top-left-radius: 5px;
      -moz-border-radius-topleft: 5px;
      border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -webkit-background-clip: padding-box;
      -moz-border-radius-topright: 5px;
      -moz-background-clip: padding;
      padding: 2px; }
  .select_middle_div .card-list {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    margin: 0 auto; }
    @media only screen and (max-width: 767px) {
      .select_middle_div .card-list {
        padding-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 10px; } }
    @media only screen and (max-width: 991px) and (min-width: 768px) {
      .select_middle_div .card-list {
        width: 780px; } }
    @media only screen and (min-width: 992px) {
      .select_middle_div .card-list {
        width: 1025px; } }
  .select_middle_div .card {
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    border: 1px solid transparent;
    border-color: #ddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    background-clip: padding-box;
    background: #FFFFFF;
    position: relative;
    max-width: 420px;
    margin: 0 auto;
    margin-bottom: 18px;
    min-height: 330px;
    max-height: 400px; }
    @media only screen and (max-width: 991px) and (min-width: 768px) {
      .select_middle_div .card {
        display: block;
        float: left;
        width: 240px;
        margin: 10px; } }
    @media only screen and (min-width: 992px) {
      .select_middle_div .card {
        display: block;
        float: left;
        width: 300px;
        margin: 20px; } }
  .select_middle_div .card .card-title {
    text-align: center;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius-topright: 5px;
    -moz-background-clip: padding;
    border-top-right-radius: 5px;
    background-clip: padding-box;
    color: #FFFFFF;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd; }
  .select_middle_div .card .card-body {
    padding: 5px 5px 25px 5px;
    font-size: 13px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius-bottomright: 5px;
    -moz-background-clip: padding;
    border-bottom-right-radius: 5px;
    background-clip: padding-box;
    box-sizing: border-box; }
  .select_middle_div .middle_a_btn {
    font-size: 8px;
    line-height: 1.5;
    display: inline-block;
    font-size: 14px;
    padding: 4px 16px;
    border-radius: 4px;
    color: #FFFFFF;
    border: 1px solid #33CC99;
    background: #33BB99;
    font-weight: 400;
    margin-bottom: 10px; }
    .select_middle_div .middle_a_btn:visited, .select_middle_div .middle_a_btn:link, .select_middle_div .middle_a_btn:active, .select_middle_div .middle_a_btn:hover {
      text-decoration: none;
      color: #FFFFFF; }
